/* @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root{
    --accent:#2F2151;
    --white:#FFFFFF;
    --green:#8FBE3D;
    --purple-light:#886AAB;
}

html , body{
    height: 100%;
    width: 100%;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 12px;
    overflow-x: hidden;
    background: var(--accent);
}
a{
    text-decoration: none;
}
button{
    border: none;
    background: none;
   font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
img{
    width: 100%;
    height: 100%;
}

a{
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
ul{
    list-style: none;
}
h1,h2,h3,h4,h5,h6{
     font-family: "Jost", sans-serif;
}
.section{
    max-width: 1440px;
    margin: 0 auto;
}

/* nav */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    gap: 1rem;
    z-index: 100000;
    background: var(--accent);
}
.nav-logo{
    max-width: 200px;
}
.nav-icon{
    color: var(--white);
    font-size: 1.5rem;
    cursor: pointer;
}
.nav-menu{
    padding: 20px;
    position: fixed;
    width: 100%;
    max-width: 400px;
    top: 0;
    bottom: 0;
    right: -200%;
    background: var(--accent);
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: all .3s ease;
}

.nav-menu.active{
right: 0%;
z-index: 100000000000;
}

.nav-close{
    align-self: flex-end;
}

.nav-links {
    display: grid;
    gap: 1rem;

}

.nav-links a{
font-family: "Inter", sans-serif;
font-weight: 400;
font-size: 24px;
line-height: 100%;
text-align: center;
color: var(--white);
display: inline-block;
}

/* Hero */
.hero-cont{
    background: #EEF2F3;
}
.hero-sect{

    display: grid;
    gap: 1rem;
}
.hero-text{
    padding: 20px;
    display: grid;
    gap: 20px;
}
.hero-text h1{
font-weight: 800;
font-size: 48px;
color: var(--accent);
line-height: 1;
word-break: break-all;
}
.hero-text h1 span{
    color: var(--green);
}
.hero-text p{
    line-height: 1;
    padding-inline: 20px;
    font-weight: 500;
    font-size: 24px;
    color: var(--accent);
}
.hero-text p span{
    font-weight: 900;
}
.hero-info-bar{
    justify-self: flex-end;
    margin-left: 20px;
    background: var(--accent);
    height: 80px;
    max-width: 963px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    padding-block: 10px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}
.hero-info-bar img{
    object-fit: contain;
}
/* PLAN */
.plan-cont{
 position: relative;
}
.plan-img{
    position: absolute;
    right: 0%;
    top: 20%;
    max-width: 100px;
}
.plan-sect{
    padding: 40px 20px;
   
    
}

.plan-sect > p{
    text-align: center;
font-weight: 700;
font-style: Bold;
font-size: 16px;
line-height: 1;
letter-spacing: 0;
color: var(--white);
margin-top: 1.5rem;
}
.plan-content{
    display: grid;
    gap: 1rem;
}
.plan-content > p{
font-weight: 400;
font-size: 22px;
line-height: 1;
color: var(--white);
}
.plan-content >p span{
    font-weight: bold;
}
.plan-card{
    display: flex;
    flex-direction: column;
     color: var(--white);
}
.plan-card span{
    font-weight: bold;
}
.plan-card-gr{
    box-shadow: 10px 10px 10px 0px #00000080;
    background: var(--green);
font-weight: 400;
line-height: 1;
text-align: center;
width: 60%;
max-width: 362px;
 border-top-left-radius: 40px; 
  border-top-right-radius: 22px;  
  border-bottom-right-radius: 40px;
z-index: 2;
font-size: 26px;  
  padding: 35px 10px;
}
.plan-card-gr span{
line-height: 1;
letter-spacing: 0;
font-size: 32px;  

}
.plan-card-pur{
border-radius: 20px;
box-shadow: 10px 10px 10px 0px #00000040;
flex-grow: 1;
max-width: 538px;
width: 70%;
align-self: flex-end;
color: var(--white);
background: var(--purple-light);
line-height: 1;
text-align: center;
font-weight: 400;
z-index: 1;
margin-left: -2%;
font-size: 18px;  
  padding: 25px 20px;
}

/* Services */
.serv-cont{
    background: var(--white);

}
.serv-sect{
    padding-top: 40px;
}
.serv-left{
    display: grid;
    gap: 1.5rem;
}

.serv-content{
    padding: 20px;
    padding-top: 0px;
    color: var(--accent);

}
.serv-content h2{
font-weight: 800;
font-size: 45px;
line-height: 1;
letter-spacing: 0;
word-break: break-all;

}
.serv-content p{
font-weight: 500;
font-size: 18px;
line-height: 1;
letter-spacing: 0;

}
.serv-content p span{
    font-weight: bold;
}
.serv-img{
    width: 100%;
    overflow: hidden;
}
.serv-img img{
     aspect-ratio: 7 / 8.3;
    object-fit: cover;
}
.serv-right > p{
color: var(--accent);
font-weight: 400;
font-size: 20px;
line-height: 1;
letter-spacing: 0;
}
.serv-right{
    padding: 40px 20px;
    display: grid;
    gap: 1.5rem;
}
.serv-right > p span{
    font-weight: bold;
}
.serv-pts{
    display: grid;
    gap: 1rem;
}

.serv-pt{
    display: grid;
}
.serv-pt h3{
background: var(--purple-light);
border-radius: 10px;
color: var(--white);
box-shadow: 0px 4px 10px 0px #00000040;
font-weight: 500;
font-size: 19px;
line-height: 1;
letter-spacing: 0;
text-align: center;
padding: 15px;
z-index: 2;
width: 80%;

}
.serv-pt p{
    padding: 15px;
    padding-top: 25px;
font-weight: 400;
font-size: 18px;
line-height: 1;
letter-spacing: 0;
margin-top: -4%;
z-index: 1;
width: 80%;
justify-self: flex-end;

}
.serv-p-simple{
    background: #91C03D;
    border-radius: 18.5px;
    color: white;
}
.serv-p-outline{
    border: 7px solid var(--green);
    border-radius: 12px;
    color: var(--accent);
}
/* WHY */
.why-sect{
    padding: 40px 20px;
    position: relative;
}
.why-img{
    display: none;
    position: absolute;
    left: 0;
    top: -70%;
    max-width: 45%;
}
.why-content{
    color: var(--white);
    display: grid;
    gap: 1rem;
    max-width: 687px;
    margin-left: auto;

}
.why-content h2{
font-weight: 700;
font-size: 48px;
line-height: 1;
letter-spacing: 0;

}
.why-content p{
font-weight: 300;
font-size: 20px;
line-height: 1;
letter-spacing: 0;
}
.why-content p span{
    font-weight: 700;
}

/* Sticker */
.sticker-sect{
    display: flex;
    align-items: center;
}
.sticker-content{
    background: var(--green);
    padding: 20px;
    color: var(--white);
font-weight: 400;
font-size: 18px;
line-height: 1;
letter-spacing: 0;

}
.sticker-content p span{
    font-weight: 700;
    color: var(--accent);
}
.sticker-img{
    display: none;
    width: 200px;
    flex-shrink: 0;
}
/* Metrics */
.metric-sect{
    padding: 40px 20px;
    color: var(--white);
}
.metric-h{
font-weight: 700;
font-size: 38px;
line-height: 1;
letter-spacing: 0;
text-align: center;
margin-bottom: 2rem;
word-break: break-all;

}
.metrics{
    border: 1px solid var(--white);
    display: grid;
    gap: 2rem;
    padding: 40px 20px;
    justify-content: center;
    text-align: center;
}
.metric-no{
    display: flex;
    align-items: center;
    justify-self: center;
}
.metric-no h3{
font-weight: 700;
font-size: 60px;
line-height: 1;
letter-spacing: 0;
text-align: center;

}
.metric-no img{
max-width: 45px;
margin-left: -10%;
margin-bottom: -15%;
}
.metric p{
font-weight: 300;
font-size: 18px;
line-height: 1;
letter-spacing: 0;

}
.metrics-cards{
    display: grid;
    gap: 2rem;
}
/* Gallery */
.gallery-cont{
    position: relative;
}
.gallery-robj,.gallery-lobj{
    position: absolute;
    z-index: 1;
    height: 100%;

}
.gallery-robj{
    right: 0;
}
.gallery-lobj{
    left: 0;
}
.gallery-sect{
    position: relative;
    padding: 20px;
    z-index: 3;
}
/* Cta */
.cta-sect{
    padding: 20px;
    display: grid;
    gap: 2rem;
    color: var(--white);
}
.cta-left{
    display: grid;
    gap: 2rem;
   
}
.cta-left h4{
font-weight: 500;
font-size: 30px;
line-height: 1;
letter-spacing: 0;
 max-width: 536px;


}
.cta-left h4 span{
    font-weight: bold;
    color: var(--green);
}
.cta-btn{
    box-shadow: 10px 10px 10px 0px #00000080;
    background: var(--purple-light);
font-weight: 500;

line-height: 1;
letter-spacing: 0;
width: fit-content;
border-top-right-radius: 30px;
border-bottom-right-radius: 30px;
border-bottom-left-radius: 30px;
padding: 20px;
justify-self: flex-end;

}
.cta-btn h2{
font-size: 24px;
}
.cta-right{
    display: grid;
    gap: 2rem;
    justify-content: center;
    align-items: flex-start;

}
.cta-right h5{
font-weight: bold;
font-size: 18px;
line-height: 1;
letter-spacing: 0;
text-align: center;
max-width: 377px;
justify-self: center;

}
.cta-right h5 span{
    color: var(--green);
}
.cta-links{
    display: grid;
    gap: 2rem;
    max-width: 377px;
justify-self: center;
}
/* Footer */
.footer-cont{
    background: var(--white);
    position: relative;
    overflow-y: hidden;
}
.footer-obj{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    display: none;
}
.footer-sect{
    position: relative;
    z-index: 5;
    padding: 40px 20px;
    display: grid;
    gap: 1rem;
}
.footer-content{
    display: grid;
    gap: 2rem;
}
.footer-content h2{
color: var(--accent);
font-weight: bold;
font-size: 32px;
line-height: 1;
letter-spacing: 0;

}
.footer-btns{
    display: grid;
}
.footer-btn{
    display: inline-block;
    width: 100%;
    max-width: 578px;
}
.whatsapp-btn{
     display: inline-block;
    width: 65%;
    max-width: 390px;
}
.footer-logo{
    max-width: 310px;
    justify-self: center;
}

.footer-mail a{
    font-size: 20px;
color: var(--accent);
font-weight: 400;
line-height: 1;
letter-spacing: 0;
text-decoration: underline;
word-break: break-all;
display: inline-block;
margin-top: 3rem;
}
@media screen and (min-width:768px) {
    nav{
        padding-inline: 40px;
    }
   
    .nav-menu{
        right: 0;
        position: static;
        background: transparent;
        flex-direction: row;
        align-items: center;
         justify-content: flex-end;
        flex-grow: 1;
        padding: 0;
        width: 100%;
        max-width: 700px;
        
    }
    .nav-icon{
        display: none;
    }
    .nav-links{
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .nav-links a{
font-size: 30px;
    }
    

    .hero-sect{
        grid-template-columns: 1fr 70%;
        overflow: hidden;
        background: url('./assets/hero-bg.png') center/cover no-repeat;
       
    }
    .hero-img{
     order: 1;
    }
    .hero-img img{
        display: none;
    }
    .hero-content{
        order: 2;
        padding-block: 80px 40px;
    }
    .hero-text{
        padding-inline: 40px;
    }
    .hero-text h1{
font-size: 70px;

}
.hero-text p{
    padding-inline: 20px;
    font-size: 35px;
    max-width: 600px;
}
.hero-info-bar{
    margin-top: 50px;
    height: 112px;
}
.plan-img{
    max-width: 150px;
}
.plan-sect{
    padding: 60px 40px;
}
.plan-sect > p{
font-size: 30px;
margin-top: 2rem;
}
.plan-content{
    gap: 2rem;
    max-width: 895px;
}
.plan-content > p{
font-size: 32px;
}
.plan-card{
    flex-direction: row;
    align-items: center;
}
.plan-card-gr {
  font-size: 40px;   
  padding: 50px 15px;
   border-top-left-radius: 60px;
  border-top-right-radius: 32px;
  border-bottom-right-radius: 60px;
  width: 100%;
}
.plan-card-gr span {
  font-size: 70px;   
}

.plan-card-pur {
  font-size: 26px;   
  padding: 35px 30px;
  width: 100%;
  border-radius: 0;
  border-top-right-radius: 30px;
border-bottom-right-radius: 30px;
align-self: center;
  
}
.serv-sect{
    display: grid;
    grid-template-columns: 40% 1fr;
    align-items: flex-start;
    padding-right: 40px;
}
.serv-content{
    padding-left: 40px;
    
}
.serv-content h2{
font-size: 64px;
margin-bottom: 2rem;

}
.serv-content p{
    padding-inline: 20px;
font-size: 28px;
}
.serv-img{
    border-radius: 35px;
    width: 110%;
    z-index: 3;
    
}
.serv-right{
    z-index: 2;
    gap: 3rem;
    
}
.serv-right > p{
font-size: 32px;
}
.serv-pt h3{
    font-size: 30px;
}
.serv-pt p{
font-size: 28px;
  padding: 30px;
    padding-top: 40px;
    padding-right: 10px;

}
.serv-p-simple{
    border-radius: 38.5px;
}
.serv-p-outline{
    border-radius: 30px;
}
.why-sect{
    padding: 40px;
}
.why-img{
    display: block;
    max-width: 30%;
    top: -60%;
}
.why-content {
    text-align: right;
}
.why-content h2{
    font-weight: 800;
    font-size: 72px;
    margin-block: 20px;
}
  .why-content p{
font-size: 28px;
}  
.sticker-sect{
    padding-right: 40px;
}
.sticker-content{
    padding: 30px 40px;
font-size: 26px;
max-width: 75%;

}
.sticker-img{
    display: block;
    margin-left: -5%;
}
.metric-sect{
    padding: 40px;
}
.metric-h{
font-size: 56px;

}

.metric-no h3{
font-size: 120px;

}
.metric-no img{
max-width: 75px;
}
.metric p{
font-size: 35px;

}
.gallery-sect{
    padding-inline: 40px;
}
.cta-sect{
    padding: 40px;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}
.cta-left h4{
font-size: 45px;

}
.cta-btn{
border-top-right-radius: 70px;
border-bottom-right-radius: 70px;
border-bottom-left-radius: 70px;
padding: 35px;

}
.cta-btn h2{
font-size: 55px;
}
.cta-right h5{
font-size: 24px;

}

.footer-sect{
    padding: 60px 40px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.footer-content h2{
font-size: 48px;

}
.footer-mail a{
    font-size: 30px;
}
}
@media  screen and (min-width:1200px) {
    nav{
        padding-block: 45px;
        padding-left: 67px;
        
    }
    .nav-logo{
    max-width: 341px;
}
    .hero-text{
        padding-inline: 80px;
    }
.hero-text p{
    padding-inline: 40px;
}
.hero-sect{
     grid-template-columns: 1fr 60%;
    max-height: 700px;
}
.plan-img{
    top: 10%;
    max-width: 270px;
}
.plan-sect{
    padding: 90px;
}
.plan-sect > p{
text-align: right;
max-width: 835px;
margin-inline: auto;
}
.plan-content{
    gap: 3rem;
}
.plan-content > p{
font-size: 45px;
}
.plan-card-gr {
  font-size: 55px;  
  padding: 65px 5px;
  border-top-left-radius: 80px;
border-top-right-radius: 43px;
border-bottom-right-radius: 80px;
}
.plan-card-gr span {
  font-size: 96px;  
}

.plan-card-pur {
  font-size: 35px;   
  padding: 45px 50px;
}
.serv-sect{
    grid-template-columns: 48% 1fr;
    padding-top: 80px;
    padding-right: 80px;
}
.serv-content{
    padding-left: 80px;
    padding-right: 40px;
    padding-bottom: 60px;
}
.serv-content h2{
font-size: 85px;

}
.serv-content p{
font-size: 38px;
}
.serv-img{
    width: 105%;
    z-index: 3;
    margin-bottom: -180px;
}
.serv-right{
    padding-inline: 0;
    padding-bottom: 100px;
}

  .serv-right > p{
font-size: 42px;
}  
.serv-pt h3{
    font-size: 36px;
    padding-block: 25px;
}
.serv-pt p{
font-size: 35px;

}
.why-sect{
    padding: 100px 80px;
}
.why-img{
        top: -70%;
    max-width: 45%;
}
.why-content h2{
    font-size: 95px;
}
  .why-content p{
font-size: 38px;
} 
.sticker-sect{
    padding-right: 80px;
}
.sticker-content{
font-size: 35px;
 padding: 45px 80px;
 padding-right: 85px;

} 
.sticker-img{
    width: 300px;
}
.metrics{
    grid-template-columns: repeat(3,1fr);
    
    justify-content: space-between;
}
.metric-sect{
    padding:  80px 100px;
}
.metric-h{
font-size: 75px;
margin-bottom: 80px;

}
.gallery-sect{
    padding-inline: 60px;
}
.cta-sect{
    grid-template-columns: 55% 1fr;
    padding: 60px 100px;
    padding-bottom: 100px;
}
.cta-left h4{
font-size: 60px;

}
.cta-right h5{
font-size: 35px;

}
.footer-obj{
    display: block;
}
.footer-sect{
    padding: 80px 100px;
    grid-template-columns: 65% 1fr;
}

.footer-content{
    padding-inline: 40px;
}
.footer-content h2{
font-size: 64px;
padding-left: 40px;

}
.footer-mail a{
    font-size: 40px;
}
}

@media screen and (min-width:1400px) {
    .plan-img{
    max-width: none;
}
}
